#banner {
  height: 100vh;
  position: relative;
}

#content-banner {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#banner-title-brand {
  font-size: 200px;
  margin: 0;
}
