.contact {
  width: 100%;
}

#banner {
  height: 100vh;
  position: relative;
}

#content-banner {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#banner-title-brand {
  font-size: 200px;
  margin: 0;
}

.container-photo {
  height: 100vh;
  width: 80%;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photos {
  position: absolute;
  transform: translate(-50%, 0%);
  object-fit: cover;
  object-position: center;
}

#photo-left {
  height: 70%;
  width: 35%;
  top: 20%;
  left: 19%;
  z-index: 2;
}
#photo-center {
  height: 75%;
  width: 35%;
  top: 5%;
  left: 50%;
  z-index: 1;
}
#photo-right {
  height: 75%;
  width: 35%;
  top: 20%;
  left: 82%;

  z-index: 0;
}

#menu {
  margin: 0 auto;
  color: white;
  font-family: "Gentium Basic", serif;
}

#menu h1 {
  font-size: 38px;
  text-decoration: underline;
}

#menu h3 {
  font-size: 28px;
  margin: 40px 0;
}

#Food {
  background-image: url("/images/parchemin.jpg");
  text-align: center;
  padding: 5px;
}

#Bar {
  background-image: url("/images/bar.jpg");
  background-position: 47% 75%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5px;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  border-bottom: 2px solid white;
  width: 50%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.line {
  font-size: 18px;
}

.price {
  font-weight: bold;
}

#starters-list {
  width: 80%;
  margin: 0 auto;
}

#main-courses-list {
  width: 80%;
  margin: 0 auto;
}
#desserts-list {
  width: 80%;
  margin: 0 auto;
}
#drinks-list {
  width: 80%;
  margin: 0 auto;
}

.center {
  justify-content: center;
  align-items: center;
}
#history {
  height: 100vh;
  background-image: url("/images/history");
}

#history h1 {
  text-align: center;
  font-size: 32px;
  color: white;
}

#history-container {
  width: 50%;
  margin: 0 auto;
  color: white;
  font-size: 24px;
  line-height: 1.5;
}

#navbar {
  height: 80px;
  color: white;
  font-size: 30px;
  position: fixed;
  width: 95%;
  margin: 0 2.5%;
  z-index: 2;
  top: -80px;
  transition: top 0.5s;
  z-index: 2;
  cursor: pointer;
}

#dropbox {
  height: 100vh;
  position: fixed;
  left: -10rem;
  width: 10rem;
  z-index: 3;
  transition: left 0.3s;
  cursor: pointer;
}

#dropbox i {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 20px;
}

#dropbox-links {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: white;
  display: block;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.recette {
  font-style: italic;
}

.footer {
  width: 100%;
  background-color: #1b1e29;
  color: white;
  box-sizing: border-box;
}

.footer h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 10vh;
}

.contact {
  display: flex;
  font-size: 26px;
  width: 80%;
  margin: 0 auto;
  padding: 10vh 0;
}

.contact p {
  font-size: 16px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.reseau {
  justify-content: center;
}

.reseau p {
  width: 100%;
  margin: 0 auto;
}

.reseau i {
  margin: 0 10px 0 10px;
}

@media (max-width: 400px) {
  #banner-title-brand {
    font-size: 90px;
    margin: 0;
  }

  .container-photo {
    width: 80%;
    margin: 0 auto;
    display: block;
    position: inherit;
    height: auto;
  }

  #photo-left {
    z-index: 1;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
  }
  #photo-center {
    z-index: 1;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
  }
  #photo-right {
    z-index: 1;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
  }
  .photos {
    object-fit: cover;
    object-position: center;
    position: inherit;
    transform: inherit;
  }

  #history {
    background-image: url("/images/history");
  }

  #history h1 {
    text-align: center;
    font-size: 32px;
    color: white;
  }

  #history-container {
    width: 50%;
    margin: 0 auto;
    color: white;
    font-size: 16px;
  }
}
